
                     <div>
                     <form  novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
                          
                          <div id="card-element" class="field" style="    box-shadow: 0 0 5px 0px;
                          padding: 10px;
                          border-radius: 20px;
                          margin-bottom: 15px;"></div>
                          <button type="submit" class = " btn-custom" style="margin-left: 45%;">
                            BUY
                          </button>
                        </form>
                      </div>
                  
