<html>
<body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
<div class="container">
    
    <div class="card">
        <div class="form">
            
           
            <h3>Let's Talk</h3> <i class="fa fa-share-alt" id="share"></i>
            <p>Fill in this form or send us an e-mail with your enquiry.</p>
            <form [formGroup]="contactForm" (ngSubmit)="submitdata()">

            <div class="input-text"> <input type="text" required="required" formControlName="name" class="form-control form-control-lg"> <span>Name</span> </div>
            <div class="input-text"> <input type="text" required="required" formControlName="email" class="form-control form-control-lg"> <span>E-mail</span> </div>
            <div class="text-area"> <textarea required="required" formControlName="message" class="form-control form-control-lg"></textarea> <span>Message</span> </div>
            <input  class="btn btn-dark btn-lg btn-block" type="submit">
            <div class="last"> <i class="fa fa-phone"></i>
                
                <p>+91-8058200109</p> <i class="fa fa-map-marker"></i>
                <p>Jaipur Rajasthan</p>
            </div>
            <div class="social"> <i class="fa fa-facebook-square"></i> <i class="fa fa-instagram"></i> <i class="fa fa-linkedin-square"></i> <i class="fa fa-dribbble"></i> </div>
            </form>
            </div>
            </div>
            </div>
            
        

   
</body>
</html>